<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Coopagenda</title>
    <%= csrf_meta_tag() %>
  </head>
  <body id="page-top">
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <%= @inner_content %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/index.js") %>"></script>
  </body>
</html>
